.Clouds {
  -moz-animation: Clouds 5s ease-in-out infinite;
  -webkit-animation: Clouds 5s ease-in-out infinite;
  animation: Clouds 5s ease-in-out infinite;
  background: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: #fff 65px -25px 0 -5px, #fff 25px -25px, #fff 5px 0 0 2px, #fff 10px 0 0 2px, #fff 15px 0 0 2px, #fff 20px 0 0 2px, #fff 25px 0 0 2px, #fff 30px 0 0 2px, #fff 35px 0 0 2px, #fff 40px 0 0 2px, #fff 45px 0 0 2px, #fff 50px 0 0 2px, #fff 55px 0 0 2px, #fff 60px 0 0 2px, #fff 65px 0 0 2px, #fff 70px 0 0 2px, #fff 75px 0 0 2px;
  -webkit-box-shadow: #fff 65px -25px 0 -5px, #fff 25px -25px, #fff 5px 0 0 2px, #fff 10px 0 0 2px, #fff 15px 0 0 2px, #fff 20px 0 0 2px, #fff 25px 0 0 2px, #fff 30px 0 0 2px, #fff 35px 0 0 2px, #fff 40px 0 0 2px, #fff 45px 0 0 2px, #fff 50px 0 0 2px, #fff 55px 0 0 2px, #fff 60px 0 0 2px, #fff 65px 0 0 2px, #fff 70px 0 0 2px, #fff 75px 0 0 2px;
  box-shadow: #fff 65px -25px 0 -5px, #fff 25px -25px, #fff 5px 0 0 2px, #fff 10px 0 0 2px, #fff 15px 0 0 2px, #fff 20px 0 0 2px, #fff 25px 0 0 2px, #fff 30px 0 0 2px, #fff 35px 0 0 2px, #fff 40px 0 0 2px, #fff 45px 0 0 2px, #fff 50px 0 0 2px, #fff 55px 0 0 2px, #fff 60px 0 0 2px, #fff 65px 0 0 2px, #fff 70px 0 0 2px, #fff 75px 0 0 2px;
  display: block;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 40px;
  top: 80px;
}
.Clouds:after {
  -moz-animation: Clouds-shadow 5s ease-in-out infinite;
  -webkit-animation: Clouds-shadow 5s ease-in-out infinite;
  animation: Clouds-shadow 5s ease-in-out infinite;
  background: #000;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 15px;
  width: 120px;
  opacity: 0.2;
  position: absolute;
  left: 8px;
  bottom: -60px;
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}
.Clouds:before {
  content: "";
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  height: 7px;
  width: 7px;
  opacity: 0.8;
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
@-moz-keyframes Clouds {
  50% {
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@-webkit-keyframes Clouds {
  50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@keyframes Clouds {
  50% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@-moz-keyframes Clouds-shadow {
  50% {
    -moz-transform: translateY(20px) scale(1);
    transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}
@-webkit-keyframes Clouds-shadow {
  50% {
    -webkit-transform: translateY(20px) scale(1);
    transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}
@keyframes Clouds-shadow {
  50% {
    -moz-transform: translateY(20px) scale(1);
    -ms-transform: translateY(20px) scale(1);
    -webkit-transform: translateY(20px) scale(1);
    transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}

.Rain {
  -moz-animation: Rain 5s ease-in-out infinite;
  -webkit-animation: Rain 5s ease-in-out infinite;
  animation: Rain 5s ease-in-out infinite;
  background: #ccc;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: #ccc 65px -25px 0 -5px, #ccc 25px -25px, #ccc 5px 0 0 2px, #ccc 10px 0 0 2px, #ccc 15px 0 0 2px, #ccc 20px 0 0 2px, #ccc 25px 0 0 2px, #ccc 30px 0 0 2px, #ccc 35px 0 0 2px, #ccc 40px 0 0 2px, #ccc 45px 0 0 2px, #ccc 50px 0 0 2px, #ccc 55px 0 0 2px, #ccc 60px 0 0 2px, #ccc 65px 0 0 2px, #ccc 70px 0 0 2px, #ccc 75px 0 0 2px;
  -webkit-box-shadow: #ccc 65px -25px 0 -5px, #ccc 25px -25px, #ccc 5px 0 0 2px, #ccc 10px 0 0 2px, #ccc 15px 0 0 2px, #ccc 20px 0 0 2px, #ccc 25px 0 0 2px, #ccc 30px 0 0 2px, #ccc 35px 0 0 2px, #ccc 40px 0 0 2px, #ccc 45px 0 0 2px, #ccc 50px 0 0 2px, #ccc 55px 0 0 2px, #ccc 60px 0 0 2px, #ccc 65px 0 0 2px, #ccc 70px 0 0 2px, #ccc 75px 0 0 2px;
  box-shadow: #ccc 65px -25px 0 -5px, #ccc 25px -25px, #ccc 5px 0 0 2px, #ccc 10px 0 0 2px, #ccc 15px 0 0 2px, #ccc 20px 0 0 2px, #ccc 25px 0 0 2px, #ccc 30px 0 0 2px, #ccc 35px 0 0 2px, #ccc 40px 0 0 2px, #ccc 45px 0 0 2px, #ccc 50px 0 0 2px, #ccc 55px 0 0 2px, #ccc 60px 0 0 2px, #ccc 65px 0 0 2px, #ccc 70px 0 0 2px, #ccc 75px 0 0 2px;
  display: block;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 80px;
}
.Rain:after {
  -moz-animation: Rain-shadow 5s ease-in-out infinite;
  -webkit-animation: Rain-shadow 5s ease-in-out infinite;
  animation: Rain-shadow 5s ease-in-out infinite;
  background: #000;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 15px;
  width: 120px;
  opacity: 0.2;
  position: absolute;
  left: 5px;
  bottom: -60px;
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}
.Rain:before {
  -moz-animation: Rain-drop 0.7s infinite linear;
  -webkit-animation: Rain-drop 0.7s infinite linear;
  animation: Rain-drop 0.7s infinite linear;
  content: "";
  background: transparent;
  margin-left: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  height: 6px;
  width: 3px;
  opacity: 0.3;
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
@-moz-keyframes Rain {
  50% {
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@-webkit-keyframes Rain {
  50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@keyframes Rain {
  50% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@-moz-keyframes Rain-shadow {
  50% {
    -moz-transform: translateY(20px) scale(1);
    transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}
@-webkit-keyframes Rain-shadow {
  50% {
    -webkit-transform: translateY(20px) scale(1);
    transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}
@keyframes Rain-shadow {
  50% {
    -moz-transform: translateY(20px) scale(1);
    -ms-transform: translateY(20px) scale(1);
    -webkit-transform: translateY(20px) scale(1);
    transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}
@-moz-keyframes Rain-drop {
  0% {
    -moz-box-shadow: transparent 30px 30px, transparent 40px 40px, blue 50px 75px, blue 55px 50px, blue 70px 100px, blue 80px 95px, blue 110px 45px, blue 90px 35px;
    box-shadow: transparent 30px 30px, transparent 40px 40px, blue 50px 75px, blue 55px 50px, blue 70px 100px, blue 80px 95px, blue 110px 45px, blue 90px 35px;
  }
  25% {
    -moz-box-shadow: blue 30px 45px, blue 40px 60px, blue 50px 90px, blue 55px 65px, transparent 70px 120px, transparent 80px 120px, blue 110px 70px, blue 90px 60px;
    box-shadow: blue 30px 45px, blue 40px 60px, blue 50px 90px, blue 55px 65px, transparent 70px 120px, transparent 80px 120px, blue 110px 70px, blue 90px 60px;
  }
  26% {
    -moz-box-shadow: blue 30px 45px, blue 40px 60px, blue 50px 90px, blue 55px 65px, transparent 70px 40px, transparent 80px 20px, blue 110px 70px, blue 90px 60px;
    box-shadow: blue 30px 45px, blue 40px 60px, blue 50px 90px, blue 55px 65px, transparent 70px 40px, transparent 80px 20px, blue 110px 70px, blue 90px 60px;
  }
  50% {
    -moz-box-shadow: blue 30px 70px, blue 40px 80px, transparent 50px 100px, blue 55px 80px, blue 70px 60px, blue 80px 45px, blue 110px 95px, blue 90px 85px;
    box-shadow: blue 30px 70px, blue 40px 80px, transparent 50px 100px, blue 55px 80px, blue 70px 60px, blue 80px 45px, blue 110px 95px, blue 90px 85px;
  }
  51% {
    -moz-box-shadow: blue 30px 70px, blue 40px 80px, transparent 50px 45px, blue 55px 80px, blue 70px 60px, blue 80px 45px, blue 110px 95px, blue 90px 85px;
    box-shadow: blue 30px 70px, blue 40px 80px, transparent 50px 45px, blue 55px 80px, blue 70px 60px, blue 80px 45px, blue 110px 95px, blue 90px 85px;
  }
  75% {
    -moz-box-shadow: blue 30px 95px, blue 40px 100px, blue 50px 60px, transparent 55px 95px, blue 70px 80px, blue 80px 70px, transparent 110px 120px, transparent 90px 110px;
    box-shadow: blue 30px 95px, blue 40px 100px, blue 50px 60px, transparent 55px 95px, blue 70px 80px, blue 80px 70px, transparent 110px 120px, transparent 90px 110px;
  }
  76% {
    -moz-box-shadow: blue 30px 95px, blue 40px 100px, blue 50px 60px, transparent 55px 35px, blue 70px 80px, blue 80px 70px, transparent 110px 25px, transparent 90px 15px;
    box-shadow: blue 30px 95px, blue 40px 100px, blue 50px 60px, transparent 55px 35px, blue 70px 80px, blue 80px 70px, transparent 110px 25px, transparent 90px 15px;
  }
  100% {
    -moz-box-shadow: transparent 30px 120px, transparent 40px 120px, blue 50px 75px, blue 55px 50px, blue 70px 100px, blue 80px 95px, blue 110px 45px, blue 90px 35px;
    box-shadow: transparent 30px 120px, transparent 40px 120px, blue 50px 75px, blue 55px 50px, blue 70px 100px, blue 80px 95px, blue 110px 45px, blue 90px 35px;
  }
}
@-webkit-keyframes Rain-drop {
  0% {
    -webkit-box-shadow: transparent 30px 30px, transparent 40px 40px, blue 50px 75px, blue 55px 50px, blue 70px 100px, blue 80px 95px, blue 110px 45px, blue 90px 35px;
    box-shadow: transparent 30px 30px, transparent 40px 40px, blue 50px 75px, blue 55px 50px, blue 70px 100px, blue 80px 95px, blue 110px 45px, blue 90px 35px;
  }
  25% {
    -webkit-box-shadow: blue 30px 45px, blue 40px 60px, blue 50px 90px, blue 55px 65px, transparent 70px 120px, transparent 80px 120px, blue 110px 70px, blue 90px 60px;
    box-shadow: blue 30px 45px, blue 40px 60px, blue 50px 90px, blue 55px 65px, transparent 70px 120px, transparent 80px 120px, blue 110px 70px, blue 90px 60px;
  }
  26% {
    -webkit-box-shadow: blue 30px 45px, blue 40px 60px, blue 50px 90px, blue 55px 65px, transparent 70px 40px, transparent 80px 20px, blue 110px 70px, blue 90px 60px;
    box-shadow: blue 30px 45px, blue 40px 60px, blue 50px 90px, blue 55px 65px, transparent 70px 40px, transparent 80px 20px, blue 110px 70px, blue 90px 60px;
  }
  50% {
    -webkit-box-shadow: blue 30px 70px, blue 40px 80px, transparent 50px 100px, blue 55px 80px, blue 70px 60px, blue 80px 45px, blue 110px 95px, blue 90px 85px;
    box-shadow: blue 30px 70px, blue 40px 80px, transparent 50px 100px, blue 55px 80px, blue 70px 60px, blue 80px 45px, blue 110px 95px, blue 90px 85px;
  }
  51% {
    -webkit-box-shadow: blue 30px 70px, blue 40px 80px, transparent 50px 45px, blue 55px 80px, blue 70px 60px, blue 80px 45px, blue 110px 95px, blue 90px 85px;
    box-shadow: blue 30px 70px, blue 40px 80px, transparent 50px 45px, blue 55px 80px, blue 70px 60px, blue 80px 45px, blue 110px 95px, blue 90px 85px;
  }
  75% {
    -webkit-box-shadow: blue 30px 95px, blue 40px 100px, blue 50px 60px, transparent 55px 95px, blue 70px 80px, blue 80px 70px, transparent 110px 120px, transparent 90px 110px;
    box-shadow: blue 30px 95px, blue 40px 100px, blue 50px 60px, transparent 55px 95px, blue 70px 80px, blue 80px 70px, transparent 110px 120px, transparent 90px 110px;
  }
  76% {
    -webkit-box-shadow: blue 30px 95px, blue 40px 100px, blue 50px 60px, transparent 55px 35px, blue 70px 80px, blue 80px 70px, transparent 110px 25px, transparent 90px 15px;
    box-shadow: blue 30px 95px, blue 40px 100px, blue 50px 60px, transparent 55px 35px, blue 70px 80px, blue 80px 70px, transparent 110px 25px, transparent 90px 15px;
  }
  100% {
    -webkit-box-shadow: transparent 30px 120px, transparent 40px 120px, blue 50px 75px, blue 55px 50px, blue 70px 100px, blue 80px 95px, blue 110px 45px, blue 90px 35px;
    box-shadow: transparent 30px 120px, transparent 40px 120px, blue 50px 75px, blue 55px 50px, blue 70px 100px, blue 80px 95px, blue 110px 45px, blue 90px 35px;
  }
}
@keyframes Rain-drop {
  0% {
    -moz-box-shadow: transparent 30px 30px, transparent 40px 40px, blue 50px 75px, blue 55px 50px, blue 70px 100px, blue 80px 95px, blue 110px 45px, blue 90px 35px;
    -webkit-box-shadow: transparent 30px 30px, transparent 40px 40px, blue 50px 75px, blue 55px 50px, blue 70px 100px, blue 80px 95px, blue 110px 45px, blue 90px 35px;
    box-shadow: transparent 30px 30px, transparent 40px 40px, blue 50px 75px, blue 55px 50px, blue 70px 100px, blue 80px 95px, blue 110px 45px, blue 90px 35px;
  }
  25% {
    -moz-box-shadow: blue 30px 45px, blue 40px 60px, blue 50px 90px, blue 55px 65px, transparent 70px 120px, transparent 80px 120px, blue 110px 70px, blue 90px 60px;
    -webkit-box-shadow: blue 30px 45px, blue 40px 60px, blue 50px 90px, blue 55px 65px, transparent 70px 120px, transparent 80px 120px, blue 110px 70px, blue 90px 60px;
    box-shadow: blue 30px 45px, blue 40px 60px, blue 50px 90px, blue 55px 65px, transparent 70px 120px, transparent 80px 120px, blue 110px 70px, blue 90px 60px;
  }
  26% {
    -moz-box-shadow: blue 30px 45px, blue 40px 60px, blue 50px 90px, blue 55px 65px, transparent 70px 40px, transparent 80px 20px, blue 110px 70px, blue 90px 60px;
    -webkit-box-shadow: blue 30px 45px, blue 40px 60px, blue 50px 90px, blue 55px 65px, transparent 70px 40px, transparent 80px 20px, blue 110px 70px, blue 90px 60px;
    box-shadow: blue 30px 45px, blue 40px 60px, blue 50px 90px, blue 55px 65px, transparent 70px 40px, transparent 80px 20px, blue 110px 70px, blue 90px 60px;
  }
  50% {
    -moz-box-shadow: blue 30px 70px, blue 40px 80px, transparent 50px 100px, blue 55px 80px, blue 70px 60px, blue 80px 45px, blue 110px 95px, blue 90px 85px;
    -webkit-box-shadow: blue 30px 70px, blue 40px 80px, transparent 50px 100px, blue 55px 80px, blue 70px 60px, blue 80px 45px, blue 110px 95px, blue 90px 85px;
    box-shadow: blue 30px 70px, blue 40px 80px, transparent 50px 100px, blue 55px 80px, blue 70px 60px, blue 80px 45px, blue 110px 95px, blue 90px 85px;
  }
  51% {
    -moz-box-shadow: blue 30px 70px, blue 40px 80px, transparent 50px 45px, blue 55px 80px, blue 70px 60px, blue 80px 45px, blue 110px 95px, blue 90px 85px;
    -webkit-box-shadow: blue 30px 70px, blue 40px 80px, transparent 50px 45px, blue 55px 80px, blue 70px 60px, blue 80px 45px, blue 110px 95px, blue 90px 85px;
    box-shadow: blue 30px 70px, blue 40px 80px, transparent 50px 45px, blue 55px 80px, blue 70px 60px, blue 80px 45px, blue 110px 95px, blue 90px 85px;
  }
  75% {
    -moz-box-shadow: blue 30px 95px, blue 40px 100px, blue 50px 60px, transparent 55px 95px, blue 70px 80px, blue 80px 70px, transparent 110px 120px, transparent 90px 110px;
    -webkit-box-shadow: blue 30px 95px, blue 40px 100px, blue 50px 60px, transparent 55px 95px, blue 70px 80px, blue 80px 70px, transparent 110px 120px, transparent 90px 110px;
    box-shadow: blue 30px 95px, blue 40px 100px, blue 50px 60px, transparent 55px 95px, blue 70px 80px, blue 80px 70px, transparent 110px 120px, transparent 90px 110px;
  }
  76% {
    -moz-box-shadow: blue 30px 95px, blue 40px 100px, blue 50px 60px, transparent 55px 35px, blue 70px 80px, blue 80px 70px, transparent 110px 25px, transparent 90px 15px;
    -webkit-box-shadow: blue 30px 95px, blue 40px 100px, blue 50px 60px, transparent 55px 35px, blue 70px 80px, blue 80px 70px, transparent 110px 25px, transparent 90px 15px;
    box-shadow: blue 30px 95px, blue 40px 100px, blue 50px 60px, transparent 55px 35px, blue 70px 80px, blue 80px 70px, transparent 110px 25px, transparent 90px 15px;
  }
  100% {
    -moz-box-shadow: transparent 30px 120px, transparent 40px 120px, blue 50px 75px, blue 55px 50px, blue 70px 100px, blue 80px 95px, blue 110px 45px, blue 90px 35px;
    -webkit-box-shadow: transparent 30px 120px, transparent 40px 120px, blue 50px 75px, blue 55px 50px, blue 70px 100px, blue 80px 95px, blue 110px 45px, blue 90px 35px;
    box-shadow: transparent 30px 120px, transparent 40px 120px, blue 50px 75px, blue 55px 50px, blue 70px 100px, blue 80px 95px, blue 110px 45px, blue 90px 35px;
  }
}

.Snow {
  -moz-animation: Snow 5s ease-in-out infinite;
  -webkit-animation: Snow 5s ease-in-out infinite;
  animation: Snow 5s ease-in-out infinite;
  background: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: #fff 65px -25px 0 -5px, #fff 25px -25px, #fff 5px 0 0 2px, #fff 10px 0 0 2px, #fff 15px 0 0 2px, #fff 20px 0 0 2px, #fff 25px 0 0 2px, #fff 30px 0 0 2px, #fff 35px 0 0 2px, #fff 40px 0 0 2px, #fff 45px 0 0 2px, #fff 50px 0 0 2px, #fff 55px 0 0 2px, #fff 60px 0 0 2px, #fff 65px 0 0 2px, #fff 70px 0 0 2px, #fff 75px 0 0 2px;
  -webkit-box-shadow: #fff 65px -25px 0 -5px, #fff 25px -25px, #fff 5px 0 0 2px, #fff 10px 0 0 2px, #fff 15px 0 0 2px, #fff 20px 0 0 2px, #fff 25px 0 0 2px, #fff 30px 0 0 2px, #fff 35px 0 0 2px, #fff 40px 0 0 2px, #fff 45px 0 0 2px, #fff 50px 0 0 2px, #fff 55px 0 0 2px, #fff 60px 0 0 2px, #fff 65px 0 0 2px, #fff 70px 0 0 2px, #fff 75px 0 0 2px;
  box-shadow: #fff 65px -25px 0 -5px, #fff 25px -25px, #fff 5px 0 0 2px, #fff 10px 0 0 2px, #fff 15px 0 0 2px, #fff 20px 0 0 2px, #fff 25px 0 0 2px, #fff 30px 0 0 2px, #fff 35px 0 0 2px, #fff 40px 0 0 2px, #fff 45px 0 0 2px, #fff 50px 0 0 2px, #fff 55px 0 0 2px, #fff 60px 0 0 2px, #fff 65px 0 0 2px, #fff 70px 0 0 2px, #fff 75px 0 0 2px;
  display: block;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 80px;
}
.Snow:after {
  -moz-animation: Snow-shadow 5s ease-in-out infinite;
  -webkit-animation: Snow-shadow 5s ease-in-out infinite;
  animation: Snow-shadow 5s ease-in-out infinite;
  background: #000;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 15px;
  width: 120px;
  opacity: 0.2;
  position: absolute;
  left: 8px;
  bottom: -60px;
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}
.Snow:before {
  -moz-animation: Snow-flakes 2s infinite linear;
  -webkit-animation: Snow-flakes 2s infinite linear;
  animation: Snow-flakes 2s infinite linear;
  content: "";
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  height: 7px;
  width: 7px;
  opacity: 0.8;
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
@-moz-keyframes Snow {
  50% {
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@-webkit-keyframes Snow {
  50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@keyframes Snow {
  50% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@-moz-keyframes Snow-shadow {
  50% {
    -moz-transform: translateY(20px) scale(1);
    transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}
@-webkit-keyframes Snow-shadow {
  50% {
    -webkit-transform: translateY(20px) scale(1);
    transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}
@keyframes Snow-shadow {
  50% {
    -moz-transform: translateY(20px) scale(1);
    -ms-transform: translateY(20px) scale(1);
    -webkit-transform: translateY(20px) scale(1);
    transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}
@-moz-keyframes Snow-flakes {
  0% {
    -moz-box-shadow: rgba(238, 238, 238, 0) 30px 30px, rgba(238, 238, 238, 0) 40px 40px, #eee 50px 75px, #eee 55px 50px, #eee 70px 100px, #eee 80px 95px, #eee 110px 45px, #eee 90px 35px;
    box-shadow: rgba(238, 238, 238, 0) 30px 30px, rgba(238, 238, 238, 0) 40px 40px, #eee 50px 75px, #eee 55px 50px, #eee 70px 100px, #eee 80px 95px, #eee 110px 45px, #eee 90px 35px;
  }
  25% {
    -moz-box-shadow: #eee 30px 45px, #eee 40px 60px, #eee 50px 90px, #eee 55px 65px, rgba(238, 238, 238, 0) 70px 120px, rgba(238, 238, 238, 0) 80px 120px, #eee 110px 70px, #eee 90px 60px;
    box-shadow: #eee 30px 45px, #eee 40px 60px, #eee 50px 90px, #eee 55px 65px, rgba(238, 238, 238, 0) 70px 120px, rgba(238, 238, 238, 0) 80px 120px, #eee 110px 70px, #eee 90px 60px;
  }
  26% {
    -moz-box-shadow: #eee 30px 45px, #eee 40px 60px, #eee 50px 90px, #eee 55px 65px, rgba(238, 238, 238, 0) 70px 40px, rgba(238, 238, 238, 0) 80px 20px, #eee 110px 70px, #eee 90px 60px;
    box-shadow: #eee 30px 45px, #eee 40px 60px, #eee 50px 90px, #eee 55px 65px, rgba(238, 238, 238, 0) 70px 40px, rgba(238, 238, 238, 0) 80px 20px, #eee 110px 70px, #eee 90px 60px;
  }
  50% {
    -moz-box-shadow: #eee 30px 70px, #eee 40px 80px, rgba(238, 238, 238, 0) 50px 100px, #eee 55px 80px, #eee 70px 60px, #eee 80px 45px, #eee 110px 95px, #eee 90px 85px;
    box-shadow: #eee 30px 70px, #eee 40px 80px, rgba(238, 238, 238, 0) 50px 100px, #eee 55px 80px, #eee 70px 60px, #eee 80px 45px, #eee 110px 95px, #eee 90px 85px;
  }
  51% {
    -moz-box-shadow: #eee 30px 70px, #eee 40px 80px, rgba(238, 238, 238, 0) 50px 45px, #eee 55px 80px, #eee 70px 60px, #eee 80px 45px, #eee 110px 95px, #eee 90px 85px;
    box-shadow: #eee 30px 70px, #eee 40px 80px, rgba(238, 238, 238, 0) 50px 45px, #eee 55px 80px, #eee 70px 60px, #eee 80px 45px, #eee 110px 95px, #eee 90px 85px;
  }
  75% {
    -moz-box-shadow: #eee 30px 95px, #eee 40px 100px, #eee 50px 60px, rgba(238, 238, 238, 0) 55px 95px, #eee 70px 80px, #eee 80px 70px, rgba(238, 238, 238, 0) 110px 120px, rgba(238, 238, 238, 0) 90px 110px;
    box-shadow: #eee 30px 95px, #eee 40px 100px, #eee 50px 60px, rgba(238, 238, 238, 0) 55px 95px, #eee 70px 80px, #eee 80px 70px, rgba(238, 238, 238, 0) 110px 120px, rgba(238, 238, 238, 0) 90px 110px;
  }
  76% {
    -moz-box-shadow: #eee 30px 95px, #eee 40px 100px, #eee 50px 60px, rgba(238, 238, 238, 0) 55px 35px, #eee 70px 80px, #eee 80px 70px, rgba(238, 238, 238, 0) 110px 25px, rgba(238, 238, 238, 0) 90px 15px;
    box-shadow: #eee 30px 95px, #eee 40px 100px, #eee 50px 60px, rgba(238, 238, 238, 0) 55px 35px, #eee 70px 80px, #eee 80px 70px, rgba(238, 238, 238, 0) 110px 25px, rgba(238, 238, 238, 0) 90px 15px;
  }
  100% {
    -moz-box-shadow: rgba(238, 238, 238, 0) 30px 120px, rgba(238, 238, 238, 0) 40px 120px, #eee 50px 75px, #eee 55px 50px, #eee 70px 100px, #eee 80px 95px, #eee 110px 45px, #eee 90px 35px;
    box-shadow: rgba(238, 238, 238, 0) 30px 120px, rgba(238, 238, 238, 0) 40px 120px, #eee 50px 75px, #eee 55px 50px, #eee 70px 100px, #eee 80px 95px, #eee 110px 45px, #eee 90px 35px;
  }
}
@-webkit-keyframes Snow-flakes {
  0% {
    -webkit-box-shadow: rgba(238, 238, 238, 0) 30px 30px, rgba(238, 238, 238, 0) 40px 40px, #eee 50px 75px, #eee 55px 50px, #eee 70px 100px, #eee 80px 95px, #eee 110px 45px, #eee 90px 35px;
    box-shadow: rgba(238, 238, 238, 0) 30px 30px, rgba(238, 238, 238, 0) 40px 40px, #eee 50px 75px, #eee 55px 50px, #eee 70px 100px, #eee 80px 95px, #eee 110px 45px, #eee 90px 35px;
  }
  25% {
    -webkit-box-shadow: #eee 30px 45px, #eee 40px 60px, #eee 50px 90px, #eee 55px 65px, rgba(238, 238, 238, 0) 70px 120px, rgba(238, 238, 238, 0) 80px 120px, #eee 110px 70px, #eee 90px 60px;
    box-shadow: #eee 30px 45px, #eee 40px 60px, #eee 50px 90px, #eee 55px 65px, rgba(238, 238, 238, 0) 70px 120px, rgba(238, 238, 238, 0) 80px 120px, #eee 110px 70px, #eee 90px 60px;
  }
  26% {
    -webkit-box-shadow: #eee 30px 45px, #eee 40px 60px, #eee 50px 90px, #eee 55px 65px, rgba(238, 238, 238, 0) 70px 40px, rgba(238, 238, 238, 0) 80px 20px, #eee 110px 70px, #eee 90px 60px;
    box-shadow: #eee 30px 45px, #eee 40px 60px, #eee 50px 90px, #eee 55px 65px, rgba(238, 238, 238, 0) 70px 40px, rgba(238, 238, 238, 0) 80px 20px, #eee 110px 70px, #eee 90px 60px;
  }
  50% {
    -webkit-box-shadow: #eee 30px 70px, #eee 40px 80px, rgba(238, 238, 238, 0) 50px 100px, #eee 55px 80px, #eee 70px 60px, #eee 80px 45px, #eee 110px 95px, #eee 90px 85px;
    box-shadow: #eee 30px 70px, #eee 40px 80px, rgba(238, 238, 238, 0) 50px 100px, #eee 55px 80px, #eee 70px 60px, #eee 80px 45px, #eee 110px 95px, #eee 90px 85px;
  }
  51% {
    -webkit-box-shadow: #eee 30px 70px, #eee 40px 80px, rgba(238, 238, 238, 0) 50px 45px, #eee 55px 80px, #eee 70px 60px, #eee 80px 45px, #eee 110px 95px, #eee 90px 85px;
    box-shadow: #eee 30px 70px, #eee 40px 80px, rgba(238, 238, 238, 0) 50px 45px, #eee 55px 80px, #eee 70px 60px, #eee 80px 45px, #eee 110px 95px, #eee 90px 85px;
  }
  75% {
    -webkit-box-shadow: #eee 30px 95px, #eee 40px 100px, #eee 50px 60px, rgba(238, 238, 238, 0) 55px 95px, #eee 70px 80px, #eee 80px 70px, rgba(238, 238, 238, 0) 110px 120px, rgba(238, 238, 238, 0) 90px 110px;
    box-shadow: #eee 30px 95px, #eee 40px 100px, #eee 50px 60px, rgba(238, 238, 238, 0) 55px 95px, #eee 70px 80px, #eee 80px 70px, rgba(238, 238, 238, 0) 110px 120px, rgba(238, 238, 238, 0) 90px 110px;
  }
  76% {
    -webkit-box-shadow: #eee 30px 95px, #eee 40px 100px, #eee 50px 60px, rgba(238, 238, 238, 0) 55px 35px, #eee 70px 80px, #eee 80px 70px, rgba(238, 238, 238, 0) 110px 25px, rgba(238, 238, 238, 0) 90px 15px;
    box-shadow: #eee 30px 95px, #eee 40px 100px, #eee 50px 60px, rgba(238, 238, 238, 0) 55px 35px, #eee 70px 80px, #eee 80px 70px, rgba(238, 238, 238, 0) 110px 25px, rgba(238, 238, 238, 0) 90px 15px;
  }
  100% {
    -webkit-box-shadow: rgba(238, 238, 238, 0) 30px 120px, rgba(238, 238, 238, 0) 40px 120px, #eee 50px 75px, #eee 55px 50px, #eee 70px 100px, #eee 80px 95px, #eee 110px 45px, #eee 90px 35px;
    box-shadow: rgba(238, 238, 238, 0) 30px 120px, rgba(238, 238, 238, 0) 40px 120px, #eee 50px 75px, #eee 55px 50px, #eee 70px 100px, #eee 80px 95px, #eee 110px 45px, #eee 90px 35px;
  }
}
@keyframes Snow-flakes {
  0% {
    -moz-box-shadow: rgba(238, 238, 238, 0) 30px 30px, rgba(238, 238, 238, 0) 40px 40px, #eee 50px 75px, #eee 55px 50px, #eee 70px 100px, #eee 80px 95px, #eee 110px 45px, #eee 90px 35px;
    -webkit-box-shadow: rgba(238, 238, 238, 0) 30px 30px, rgba(238, 238, 238, 0) 40px 40px, #eee 50px 75px, #eee 55px 50px, #eee 70px 100px, #eee 80px 95px, #eee 110px 45px, #eee 90px 35px;
    box-shadow: rgba(238, 238, 238, 0) 30px 30px, rgba(238, 238, 238, 0) 40px 40px, #eee 50px 75px, #eee 55px 50px, #eee 70px 100px, #eee 80px 95px, #eee 110px 45px, #eee 90px 35px;
  }
  25% {
    -moz-box-shadow: #eee 30px 45px, #eee 40px 60px, #eee 50px 90px, #eee 55px 65px, rgba(238, 238, 238, 0) 70px 120px, rgba(238, 238, 238, 0) 80px 120px, #eee 110px 70px, #eee 90px 60px;
    -webkit-box-shadow: #eee 30px 45px, #eee 40px 60px, #eee 50px 90px, #eee 55px 65px, rgba(238, 238, 238, 0) 70px 120px, rgba(238, 238, 238, 0) 80px 120px, #eee 110px 70px, #eee 90px 60px;
    box-shadow: #eee 30px 45px, #eee 40px 60px, #eee 50px 90px, #eee 55px 65px, rgba(238, 238, 238, 0) 70px 120px, rgba(238, 238, 238, 0) 80px 120px, #eee 110px 70px, #eee 90px 60px;
  }
  26% {
    -moz-box-shadow: #eee 30px 45px, #eee 40px 60px, #eee 50px 90px, #eee 55px 65px, rgba(238, 238, 238, 0) 70px 40px, rgba(238, 238, 238, 0) 80px 20px, #eee 110px 70px, #eee 90px 60px;
    -webkit-box-shadow: #eee 30px 45px, #eee 40px 60px, #eee 50px 90px, #eee 55px 65px, rgba(238, 238, 238, 0) 70px 40px, rgba(238, 238, 238, 0) 80px 20px, #eee 110px 70px, #eee 90px 60px;
    box-shadow: #eee 30px 45px, #eee 40px 60px, #eee 50px 90px, #eee 55px 65px, rgba(238, 238, 238, 0) 70px 40px, rgba(238, 238, 238, 0) 80px 20px, #eee 110px 70px, #eee 90px 60px;
  }
  50% {
    -moz-box-shadow: #eee 30px 70px, #eee 40px 80px, rgba(238, 238, 238, 0) 50px 100px, #eee 55px 80px, #eee 70px 60px, #eee 80px 45px, #eee 110px 95px, #eee 90px 85px;
    -webkit-box-shadow: #eee 30px 70px, #eee 40px 80px, rgba(238, 238, 238, 0) 50px 100px, #eee 55px 80px, #eee 70px 60px, #eee 80px 45px, #eee 110px 95px, #eee 90px 85px;
    box-shadow: #eee 30px 70px, #eee 40px 80px, rgba(238, 238, 238, 0) 50px 100px, #eee 55px 80px, #eee 70px 60px, #eee 80px 45px, #eee 110px 95px, #eee 90px 85px;
  }
  51% {
    -moz-box-shadow: #eee 30px 70px, #eee 40px 80px, rgba(238, 238, 238, 0) 50px 45px, #eee 55px 80px, #eee 70px 60px, #eee 80px 45px, #eee 110px 95px, #eee 90px 85px;
    -webkit-box-shadow: #eee 30px 70px, #eee 40px 80px, rgba(238, 238, 238, 0) 50px 45px, #eee 55px 80px, #eee 70px 60px, #eee 80px 45px, #eee 110px 95px, #eee 90px 85px;
    box-shadow: #eee 30px 70px, #eee 40px 80px, rgba(238, 238, 238, 0) 50px 45px, #eee 55px 80px, #eee 70px 60px, #eee 80px 45px, #eee 110px 95px, #eee 90px 85px;
  }
  75% {
    -moz-box-shadow: #eee 30px 95px, #eee 40px 100px, #eee 50px 60px, rgba(238, 238, 238, 0) 55px 95px, #eee 70px 80px, #eee 80px 70px, rgba(238, 238, 238, 0) 110px 120px, rgba(238, 238, 238, 0) 90px 110px;
    -webkit-box-shadow: #eee 30px 95px, #eee 40px 100px, #eee 50px 60px, rgba(238, 238, 238, 0) 55px 95px, #eee 70px 80px, #eee 80px 70px, rgba(238, 238, 238, 0) 110px 120px, rgba(238, 238, 238, 0) 90px 110px;
    box-shadow: #eee 30px 95px, #eee 40px 100px, #eee 50px 60px, rgba(238, 238, 238, 0) 55px 95px, #eee 70px 80px, #eee 80px 70px, rgba(238, 238, 238, 0) 110px 120px, rgba(238, 238, 238, 0) 90px 110px;
  }
  76% {
    -moz-box-shadow: #eee 30px 95px, #eee 40px 100px, #eee 50px 60px, rgba(238, 238, 238, 0) 55px 35px, #eee 70px 80px, #eee 80px 70px, rgba(238, 238, 238, 0) 110px 25px, rgba(238, 238, 238, 0) 90px 15px;
    -webkit-box-shadow: #eee 30px 95px, #eee 40px 100px, #eee 50px 60px, rgba(238, 238, 238, 0) 55px 35px, #eee 70px 80px, #eee 80px 70px, rgba(238, 238, 238, 0) 110px 25px, rgba(238, 238, 238, 0) 90px 15px;
    box-shadow: #eee 30px 95px, #eee 40px 100px, #eee 50px 60px, rgba(238, 238, 238, 0) 55px 35px, #eee 70px 80px, #eee 80px 70px, rgba(238, 238, 238, 0) 110px 25px, rgba(238, 238, 238, 0) 90px 15px;
  }
  100% {
    -moz-box-shadow: rgba(238, 238, 238, 0) 30px 120px, rgba(238, 238, 238, 0) 40px 120px, #eee 50px 75px, #eee 55px 50px, #eee 70px 100px, #eee 80px 95px, #eee 110px 45px, #eee 90px 35px;
    -webkit-box-shadow: rgba(238, 238, 238, 0) 30px 120px, rgba(238, 238, 238, 0) 40px 120px, #eee 50px 75px, #eee 55px 50px, #eee 70px 100px, #eee 80px 95px, #eee 110px 45px, #eee 90px 35px;
    box-shadow: rgba(238, 238, 238, 0) 30px 120px, rgba(238, 238, 238, 0) 40px 120px, #eee 50px 75px, #eee 55px 50px, #eee 70px 100px, #eee 80px 95px, #eee 110px 45px, #eee 90px 35px;
  }
}

.Thunderstorm {
  -moz-animation: Thunderstorm 5s ease-in-out infinite;
  -webkit-animation: Thunderstorm 5s ease-in-out infinite;
  animation: Thunderstorm 5s ease-in-out infinite;
  background: #393939;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: #393939 65px -25px 0 -5px, #393939 25px -25px, #393939 5px 0 0 2px, #393939 10px 0 0 2px, #393939 15px 0 0 2px, #393939 20px 0 0 2px, #393939 25px 0 0 2px, #393939 30px 0 0 2px, #393939 35px 0 0 2px, #393939 40px 0 0 2px, #393939 45px 0 0 2px, #393939 50px 0 0 2px, #393939 55px 0 0 2px, #393939 60px 0 0 2px, #393939 65px 0 0 2px, #393939 70px 0 0 2px, #393939 75px 0 0 2px;
  -webkit-box-shadow: #393939 65px -25px 0 -5px, #393939 25px -25px, #393939 5px 0 0 2px, #393939 10px 0 0 2px, #393939 15px 0 0 2px, #393939 20px 0 0 2px, #393939 25px 0 0 2px, #393939 30px 0 0 2px, #393939 35px 0 0 2px, #393939 40px 0 0 2px, #393939 45px 0 0 2px, #393939 50px 0 0 2px, #393939 55px 0 0 2px, #393939 60px 0 0 2px, #393939 65px 0 0 2px, #393939 70px 0 0 2px, #393939 75px 0 0 2px;
  box-shadow: #393939 65px -25px 0 -5px, #393939 25px -25px, #393939 5px 0 0 2px, #393939 10px 0 0 2px, #393939 15px 0 0 2px, #393939 20px 0 0 2px, #393939 25px 0 0 2px, #393939 30px 0 0 2px, #393939 35px 0 0 2px, #393939 40px 0 0 2px, #393939 45px 0 0 2px, #393939 50px 0 0 2px, #393939 55px 0 0 2px, #393939 60px 0 0 2px, #393939 65px 0 0 2px, #393939 70px 0 0 2px, #393939 75px 0 0 2px;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 80px;
}
.Thunderstorm:after {
  -moz-animation: Thunderstorm-shadow 5s ease-in-out infinite;
  -webkit-animation: Thunderstorm-shadow 5s ease-in-out infinite;
  animation: Thunderstorm-shadow 5s ease-in-out infinite;
  background: #000;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 15px;
  width: 120px;
  opacity: 0.2;
  position: absolute;
  left: 5px;
  bottom: -60px;
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}
.Thunderstorm:before {
  -moz-animation: Thunderstorm-lightning 3s steps(1, end) infinite;
  -webkit-animation: Thunderstorm-lightning 3s steps(1, end) infinite;
  animation: Thunderstorm-lightning 3s steps(1, end) infinite;
  border-right: 7px solid transparent;
  border-top: 33px solid yellow;
  -moz-box-shadow: yellow -2px -30px, rgba(255, 255, 0, 0.4) -2px -30px 10px;
  -webkit-box-shadow: yellow -2px -30px, rgba(255, 255, 0, 0.4) -2px -30px 10px;
  box-shadow: yellow -2px -30px, rgba(255, 255, 0, 0.4) -2px -30px 10px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  left: 57px;
  top: 70px;
  -moz-transform: rotate(14deg) scale(0.9);
  -ms-transform: rotate(14deg) scale(0.9);
  -webkit-transform: rotate(14deg) scale(0.9);
  transform: rotate(14deg) scale(0.9);
  -moz-transform-origin: 50% -60px 50%;
  -ms-transform-origin: 50% -60px 50%;
  -webkit-transform-origin: 50% -60px 50%;
  transform-origin: 50% -60px 50%;
}
@-moz-keyframes Thunderstorm {
  50% {
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@-webkit-keyframes Thunderstorm {
  50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@keyframes Thunderstorm {
  50% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@-moz-keyframes Thunderstorm-shadow {
  50% {
    -moz-transform: translateY(20px) scale(1);
    transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}
@-webkit-keyframes Thunderstorm-shadow {
  50% {
    -webkit-transform: translateY(20px) scale(1);
    transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}
@keyframes Thunderstorm-shadow {
  50% {
    -moz-transform: translateY(20px) scale(1);
    -ms-transform: translateY(20px) scale(1);
    -webkit-transform: translateY(20px) scale(1);
    transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}
@-moz-keyframes Thunderstorm-lightning {
  0% {
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
    opacity: 1;
  }
  5% {
    -moz-transform: rotate(-34deg);
    transform: rotate(-34deg);
    opacity: 1;
  }
  10% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  15% {
    -moz-transform: rotate(-34deg);
    transform: rotate(-34deg);
    opacity: 0;
  }
}
@-webkit-keyframes Thunderstorm-lightning {
  0% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    opacity: 1;
  }
  5% {
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    opacity: 1;
  }
  10% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  15% {
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    opacity: 0;
  }
}
@keyframes Thunderstorm-lightning {
  0% {
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    opacity: 1;
  }
  5% {
    -moz-transform: rotate(-34deg);
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    opacity: 1;
  }
  10% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  15% {
    -moz-transform: rotate(-34deg);
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-34deg);
    opacity: 0;
  }
}

.Clear {
  -moz-animation: Clear 9s linear infinite;
  -webkit-animation: Clear 9s linear infinite;
  animation: Clear 9s linear infinite;
  background: #ffe400;
  border-radius: 100%;
  -moz-box-shadow: rgba(255, 255, 0, 0.1) 0 0 5px 5px;
  -webkit-box-shadow: rgba(255, 255, 0, 0.1) 0 0 5px 5px;
  box-shadow: rgba(255, 255, 0, 0.1) 0 0 5px 5px;
  content: "";
  height: 90px;
  width: 90px;
  position: absolute;
  top: 60px;
}
.Clear:before {
  -moz-animation: Clear-glow 9s ease-in-out infinite;
  -webkit-animation: Clear-glow 9s ease-in-out infinite;
  animation: Clear-glow 9s ease-in-out infinite;
  background: #ffee44;
  -moz-box-shadow: yellow 0 0 5px 1px;
  -webkit-box-shadow: yellow 0 0 5px 1px;
  box-shadow: yellow 0 0 5px 1px;
  border-radius: 100%;
  content: "";
  height: 86px;
  width: 86px;
  position: absolute;
  left: 2px;
  top: 2px;
}
.Clear:after {
  -moz-animation: Clear-shadow 9s ease-in-out infinite;
  -webkit-animation: Clear-shadow 9s ease-in-out infinite;
  animation: Clear-shadow 9s ease-in-out infinite;
  background: #000;
  border-radius: 50%;
  content: "";
  height: 15px;
  width: 120px;
  opacity: 0.2;
  position: absolute;
  left: -15px;
  bottom: -40px;
  -webkit-transform: scale(0.7);
}
@-moz-keyframes Clear {
  50% {
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
    -moz-box-shadow: rgba(255, 255, 0, 0.2) 0 0 5px 15px;
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 5px 15px;
  }
}
@-webkit-keyframes Clear {
  50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-box-shadow: rgba(255, 255, 0, 0.2) 0 0 5px 15px;
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 5px 15px;
  }
}
@keyframes Clear {
  50% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    -moz-box-shadow: rgba(255, 255, 0, 0.2) 0 0 5px 15px;
    -webkit-box-shadow: rgba(255, 255, 0, 0.2) 0 0 5px 15px;
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 5px 15px;
  }
}
@-moz-keyframes Clear-glow {
  50% {
    -moz-box-shadow: rgba(255, 255, 0, 0.1) 0 0 5px 10px;
    box-shadow: rgba(255, 255, 0, 0.1) 0 0 5px 10px;
  }
}
@-webkit-keyframes Clear-glow {
  50% {
    -webkit-box-shadow: rgba(255, 255, 0, 0.1) 0 0 5px 10px;
    box-shadow: rgba(255, 255, 0, 0.1) 0 0 5px 10px;
  }
}
@keyframes Clear-glow {
  50% {
    -moz-box-shadow: rgba(255, 255, 0, 0.1) 0 0 5px 10px;
    -webkit-box-shadow: rgba(255, 255, 0, 0.1) 0 0 5px 10px;
    box-shadow: rgba(255, 255, 0, 0.1) 0 0 5px 10px;
  }
}
@-moz-keyframes Clear-shadow {
  50% {
    -moz-transform: translateY(20px) scale(1);
    transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}
@-webkit-keyframes Clear-shadow {
  50% {
    -webkit-transform: translateY(20px) scale(1);
    transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}
@keyframes Clear-shadow {
  50% {
    -moz-transform: translateY(20px) scale(1);
    -ms-transform: translateY(20px) scale(1);
    -webkit-transform: translateY(20px) scale(1);
    transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}
