* {
    font-family: "Nanum Gothic", sans-serif;
  }
  
  .link-portfolio:hover {
    color: indigo;
  }
  
  .v-avatar.outlined {
    border: 1px solid #000;
  }
  
  /* About Team CSS */
  .highlight {
    display: block;
    position: relative;
    margin-bottom: 30px;
    padding: 60px 30px 30px;
    border: 3px solid;
    border-color: #ff6f61;
    transition: background-color 0.3s;
  }
  a {
    font-family: "Lab Grotesque Bold", Arial, sans-serif;
    color: inherit;
    outline-color: transparent;
    text-decoration: none;
    background-color: transparent;
  }
  .change:hover {
    background-color: #ff6f61;
  }
  
  .highlight__roof-line {
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 100%;
    margin: -17px auto;
    padding: 10px 15px;
    line-height: 1;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #fff;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .roof-line {
    overflow: hidden;
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
    font-family: "Lab Grotesque Medium", Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-overflow: ellipsis;
  }
  .highlight__item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  .h3,
  h3 {
    font-size: 26px;
    line-height: 30px;
  }
  .highlight__subtitle {
    display: block;
    margin-bottom: 20px;
    font-family: "Lab Grotesque Bold", Arial, sans-serif;
    font-size: 0.95rem;
    transition-delay: 0.3s;
  }
  .highlight__figure {
    display: inline-flex;
    height: 15.5rem;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
  }
  figure {
    overflow: hidden;
    position: relative;
  }
  
  .subtitles::before {
    color: transparent;
  }
  
  .subtitles:hover {
    color: #ff6f61;
  }
  
  .skillrow {
    width: 50%;
    min-height: 1px;
    position: relative;
    display: inline-block;
  }
  .skillrow ul {
    margin: 0 20px 0 0 !important;
    text-align: left !important;
    padding: 0;
  }
  .skillrow ul li {
    list-style: none !important;
  }
  .skillrow ul li em {
    display: block;
    margin-bottom: 15px;
  }
  .skillrow ul li div {
    margin-bottom: 35px;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    background: #fafafa;
    height: 42px;
    overflow: hidden;
  }
  .skillrow ul li div span {
    height: 42px;
    width: 10%;
    display: block;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
  }
  .skillrow ul li.html div span {
    background: #e13c4c;
  }
  .skillrow ul li.css div span {
    background: #ffdb43;
  }
  .skillrow ul li.php div span {
    background: #9d2027;
  }
  .skillrow ul li.mysql div span {
    background: #3498db;
  }
  .skillrow ul li.jquery div span {
    background: #2ecc71;
  }
  .skillrow ul li.javascript div span {
    background: #a94034;
  }
  .skillrow ul li.seo div span {
    background: #ff8137;
  }
  .skillrow ul li.unix div span {
    background: #0cbfb3;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }
  @-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      -ms-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }